@model IEnumerable<PetShop.Model.PetReport>

@{
    ViewData["Title"] = "Pet Report";
}

<h1>Pet Report</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSold)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnimalType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSold)
                </td>
            </tr>
        }
    </tbody>
</table>